.usreg {
  max-width: 700px;
  margin: 25px auto;
  font-size: 16px;
}


.usreg-header,
.usreg p {
  margin-top: 0;
  margin-bottom: 0;
}

.usreg-header {
  background: $gris-topo;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $blanco;
}

.genero {
  margin-top: 2%;
}

.usreg-container {
  background: $blanco;
  padding: 16px;
}

.usreg p {
  padding: 16px;
}

.usreg input {
  align-content: center;
  margin-top: 10px;

}

.usreg input[type="submit"] {
  background: $gris-topo;
  border-color: transparent;
  color: $blanco;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.usreg input[type="submit"]:hover {
  background: $negro;
}

.usreg input[type="submit"]:focus {
  border-color: $gris-oscuro;
}