.header {
  background-image: url(../img/fondoindex.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100px;

  &__titulo {
    margin-left: 20px;
    font-size: 38px;
  }

  .barranav {
    &__lista {
      display: flex;
    }

    &__item {
      color: rgb(188, 189, 223);
      display: flex;
      gap: auto;
      font-size: 20px;
      margin-right: 40px;
    }
  }
}



@media (max-width: 992px) {
  .header {
    display: grid;
    justify-content: center;
    align-items: center;

    .barranav {
      &__item {
        color: rgb(188, 189, 223);
        display: flex;
        font-size: 15px;
        margin-right: 0;
      }

      &__titulo {
        font-size: 38px;
        margin-left: 0;
      }

      &__lista {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }


}